html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcca08;
  font-family: "Neue Haas Unica Regular", sans-serif;
  cursor: url('./img/cursor/cursor-auto.png'), auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Neue Haas Unica Bold", sans-serif;
  margin: 0;
  padding: 0;
}

label {
  cursor: url('./img/cursor/cursor-auto.png'), auto;
}

footer {
  background-color: #080808;
  color: #d0d0d0;
  display: flex;
  vertical-align: center;
  width: 100%;
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
}

/*  COMMON ELEMENTS BELOW */

#wrapper {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 50px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 100px;
}

.content {
  width: 60%;
  margin: 10px auto 10px;
}

.prompt {
  font-size: 50px;
  text-decoration: underline;
}

.plug {
  font-family: "Roboto", sans-serif;
}

.orderHeading {
  font-size: 35px;
  text-decoration: underline;
}

.bot {
  width: 90%;
  margin: auto;
  font-size: 14px;
}




/*  INDEX ELEMENTS BELOW */

.description {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.disclaimer {
  font-size: 16px;
}

.main-options {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.butt {
  background-color: #000000;
  font-family: "Neue Haas Unica Bold", sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  text-decoration: none;
  font-size: 100px;
  cursor: url('./img/cursor/cursor-pointer.png'), auto;
}

.butt span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt:hover span {
  padding-right: 60px;
}

.butt:hover span:after {
  opacity: 1;
  right: 0;
}

.butt:active {
  transform: translateY(4px);
}

.butt:focus {
  outline: 0;
}



/*  NEW ELEMENTS BELOW   */

#create-form {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.row {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 40px;
}

.row-item {
  width: 500px;
}

#where, #when, #maxNum, #pass {
  width: 300px;
  font-size: 25px;
  padding: 5px;
}

#create {
  width: 400px;
  font-size: 50px;
}

#create:hover span {
  padding-right: 30px;
}



/*  HOST ELEMENTS BELOW  */

.hostInfo {
  font-size: 30px;
}



/*  ORDER ELEMENTS BELOW */

#order-form {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 15px;
}

.orderInfo {
  font-size: 30px;
}

.orderInfo div {
  margin: 5px 0px;
}

#name {
  width: 300px;
  font-size: 25px;
  padding: 5px;
}

#menu {
  font-size: 30px;
}

.menu-group-title {
  cursor: url('./img/cursor/cursor-pointer.png'), auto;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: #e2b507;
}

.order-item {
  border-bottom: 1px solid black;
}

.order-item:hover {
  background-color: #e2b507;
}

.order-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-div {
  display: flex;
  align-items: center;
}

.remove-item {
  font-size: 24px;
  padding: 0px 5px;
}

.remove-item:hover {
  color: red;
}

.quantity-input {
  width: 50px;
  font-size: 18px;
  padding: 2px;
  margin-left: 8px;
}

.instr-text {
  resize: none;
  width: 90%;
  height: 50px;
  margin: 0 5% 10px;
}

.order-total {
  font-size: 30px;
}

#submit-order {
  width: 400px;
  font-size: 50px;
}

#submit-order:hover span {
  padding-right: 30px;
}



@media all and (max-width: 1720px){
  #float {
    display: none;
  }
  #burrito {
    display: none;
  }
}

@media all and (max-width: 1420px){
  .content {
    width: 70%;
  }
  #pizza {
    display: none;
  }
  #cupcake {
    display: none;
  }
}

@media all and (max-width: 1100px){
  .content {
    width: 80%;
  }
  #soda {
    display: none;
  }
  #ice {
    display: none;
  }
}

@media all and (max-width: 900px){
  /*  INDEX */
  .main-options {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #join {
    margin-top: 30px;
  }

  /*  NEW  */
  #create-prompt {
    text-align: center;
  }
  #create-form {
    margin-top: 10px;
    font-size: 20px;
  }
  .create-button {
    display: flex;
    justify-content: center;
  }
  .row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .row-item {
    width: auto;
    margin-bottom: 20px;
  }
  #where, #when, #maxNum, #pass {
    width: 225px;
    font-size: 16px;
    padding: 5px;
  }
  #create {
    width: 225px;
    font-size: 30px;
  }
  #create:hover span {
    padding-right: 20px;
  }

  /*  ORDER  */
  .single-button {
    display:flex;
    justify-content:space-around;
  }
}

@media all and (max-width: 780px){
  #burger {
    width: 80px
  }
  #fries {
    width: 80px;
  }
  #title {
    font-size: 40px;
  }
  .content {
    margin-top: 0px;
  }
  .prompt {
    font-size: 30px;
  }
  .butt {
    width: 250px;
    font-size: 70px;
  }
  .butt:hover span {
    padding-right: 45px;
  }

  /*  INDEX  */
  .description {
    font-size: 18px;
  }
  .disclaimer {
    font-size: 14px;
  }

  /*  NEW  */
  .create-button {
    display: flex;
    justify-content: center;
  }

  /*  HOST  */
  .hostInfo {
    font-size: 18px;
  }

  /*  ORDER  */
  .orderInfo, #menu {
    font-size: 18px;
  }
  #name {
    width: 160px;
    font-size: 18px;
  }
  #submit-order {
    font-size: 25px;
  }
  .orderHeading {
    font-size: 25px;
    text-decoration: underline;
  }
  input[type=checkbox] {
    transform: scale(1.2);
  }
  .order-subtotal, .order-taxtip {
    font-size: 16px;
  }
  .order-total {
    font-size: 18px;
  }
}

@font-face {
font-family: "Neue Haas Unica Regular";
src: url("./fonts/NeueHaasUnicaPro-Regular.ttf");
}

@font-face {
font-family: "Neue Haas Unica Bold";
src: url("./fonts/NeueHaasUnicaPro-Bold.ttf");
}
