<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Online Order Form for 2E">
    <meta name="author" content="Matt Farejowicz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>McD4Me - New</title>

    <link href="./static/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <div style="display: flex; justify-content: center; align-items: center">
          <img id="burrito" src="./static/img/burrito.png"></img>
          <img id="cupcake" src="./static/img/cupcake.png"></img>
          <img id="soda" src="./static/img/soda.png"></img>
          <img id="burger" src="./static/img/burger.png"></img>
          <h1 id="title">
            McD4Me
          </h1>
          <img id="fries" src="./static/img/fries.png"></img>
          <img id="ice" src="./static/img/ice.png"></img>
          <img id="pizza" src="./static/img/pizza.png"></img>
          <img id="float" src="./static/img/float.png"></img>
        </div>
        <div class="content">
          <h3 class="prompt">Start a New Room</h3>
          <form id="create-form">
            <div>
              <label for="where">Restaurant to order from:</label>
              <br/>
              <select id="where" name="where" required>
                <option value="McDonald's" selected>McDonald's</option>
                <option value="test">Test</option>
              </select>
            </div>
            <div>
              <label for="when">Close orders at:</label>
              <br/>
              <input id="when" type="time" name="when" required></input>
            </div>
            <div>
              <label for="maxNum">Max orders:</label>
              <br/>
              <input type="number" id="maxNum" name="maxNum" value="15" required></input>
            </div>
            <div>
              <label for="pass">Host password (optional):</label>
              <br/>
              <input type="text" id="pass" name="pass" placeholder="Host password">
            </div>
            <br/>
            <button id="create" class="butt" type="button"><span>Create Room</span></button>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <div class="bot">
        <p>McD4Me - mattf, 2018</p>
      </div>
    </footer>
  <script src="./static/main.js"></script>
  </body>
</html>
